*{
    margin: 0; padding: 0;
    border: none;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    min-height: 100vh;
}
main{
    position: relative;
    height: 100%;
}
header{
    position: relative; top: 0; left: 0;
    width: 100%;
    height: 249px;
    background-image: url("images/pattern-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6rem;
}
header h1{
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: white;
    font-size: 3rem;
    font-weight: 500;
}
.search{
    width: 40%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}
.search input{
    width: 88%;
    height: 100%;
    padding: 0rem 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    outline: none;
    text-decoration: none;
}
.search button{
    width: 12%;
    height: 100%;
    padding: 0rem 1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: hsl(0, 0%, 17%);
    border: none;
    outline: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20000;
}
nav{
    position: absolute;
    bottom: -4rem;
    height: 8rem;
    width: 80%;
    background-color: white;
    z-index: 2;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_list{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav_item{
    width: 24%;
    height: 60%;
    border-right: 1px solid hsl(0, 0%, 59%);
}
.nav_item:nth-child(4){
    border-right: none;
}
.nav_item p {
    margin-bottom: 0;
    padding-bottom: 0;
}
.nav_item h1{
    color: black;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    margin-top: 0.5rem;
}
.map_box{
    position: relative; top: 0; left: 0;
    width: 100vw;
    height: 80vh;
}
.map{
    width: 100%;
    min-height: 600px;
    height: 100%;
}
#menu {
    position: absolute; bottom: 10%; right: 0;
    background: #fff;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 1200px){
    .nav_item h1{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 1000px){
    header{
        position: relative; top: 0; left: 0;
        width: 100%;
        height: 300px;
    }
    nav{
        bottom: -20rem;
        height: auto;
        width: 80%;
    }
    .nav_list{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    .nav_item{
        padding: 1rem;
        width: 80%;
        height: 60%;
        border-right: none;
        border-bottom: 1px solid hsl(0, 0%, 59%);
        text-align: center;
    }
    .nav_item:nth-child(4){
        border-right: none;
    }
    .nav_item h1{
        font-size: 1.5rem;
    }
    .search{
        width: 60%;
        height: 3.5rem;
    }
}

@media only screen and (max-width: 800px){
    .search{
        width: 80%;
        height: 3.5rem;
    }
    .map_box{
        position: relative; top: 0; left: 0;
        width: 100vw;
        height: 100vh;
    }
}
@media only screen and (max-width: 500px){
    .search{
        width: 90%;
    }
    nav{
        width: 90%;
        bottom: -16rem;
    }
    header h1{
        font-size: 2.5rem;
    }
    .nav_item h1{
        font-size: 1.2rem;
    }
    .nav_item p {
        font-size: .9rem;
    }
}
@media only screen and (max-width: 450px){
    nav{
        bottom: -9rem;
    }
    header h1{
        font-size: 2rem;
    }
    .nav_item h1{
        font-size: 1rem;
    }
    .nav_item{
        padding: .3rem;
    }
    #menu {
        width: 100%;
        font-size: 1rem;
    }
}